* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #282b2e;
    --secondary-color: #FF8500;
    --secondary-light-color: #fdaa4f;
    --white: #fff;
    --black: #000;
    --blu: #4800FF;

}

html {
    font-size: 62.5%;
    width: 100%;
}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7.2rem;
}

body {
    background-color: white;
    max-width: 1600px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 20px;
    margin: 5px 0;
    position: absolute ;
    border: 1px solid white;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 5px 0;
    border:5px solid #fff;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color:#f3f3f3;
    opacity: 0.1;
}

/* Header */
nav .nav-desktop {
    display: flex;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

nav .nav-mobile {
    display: none;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: white;
}

.enlaces-menu2 {
    display: flex;
    padding: 0;
}

.enlaces-menu2 li {
    padding: 0 40px;
    list-style: none;
}

.enlaces-menu2 li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.enlaces-menu2 li a:hover {
    color: var(--secondary-color);
}


nav .nav-mobile {
    display: none;
}

nav .nav-link {
    color: white;
}

nav .nav-link:hover {
    color: var(--secondary-light-color);
}

nav .nav-link:focus {
    color: var(--secondary-light-color);
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(0px, 30px, 0px);
}

nav .dropdown-toggle::after {
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin: 0;
    vertical-align: 0;
    border: none;
    font-size: 1.3rem;
}

nav .dropdown-menu {
    background-color: white;
    padding: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
}

nav .dropdown-menu li {
    margin: 0;
}

nav .dropdown-menu .dropdown-item {
    color: black;
    font-size: 1.4rem;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: all .3s;
}

nav .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: var(--secondary-light-color);
}

nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
}

nav i {
    font-size: 1.0rem;
}

nav a:hover {
    color: var(--secondary-light-color);
}

nav span img {
    width: 7px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left .nav-logo {
    padding-left: 50px;
}

.logo-desktop img{
    width: 240px;
}

.nav-left .enlaces-menu {
    display: flex;
    padding: 20px 20px 20px 50px;
    margin: 0;

}

.nav-left .enlaces-menu .nav-item {
    margin-right: 30px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.nav-right ul {
    display: flex;
    align-items: center;
}

.nav-right li {
    list-style: none;
}

.button-free {
    margin: 0 50px 0 15px;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: var(--secondary-color);
    font-weight: 700;
    display: block;
}

.button-free:hover {
    color: white;
    background-color: var(--secondary-light-color);
    transform: scale(1.1);
    transition: 0.5s;
}

.hamburguer {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.hamburguer span {
    display: block;
    background-color: #000;
    height: 5px;
    width: 28px;
    margin: 4px auto;
    border-radius: 2px;
}


/* Main */
/* section-1 */
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 79px;
    padding-top: 140px;
    overflow: hidden;
}

.hero-container {
    display: flex;
    background-color: white;
    position: relative;
    width: 100%;
    gap: 30px;
    height: calc(100vh - 180px);
    max-height: 700px;
}

.container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 57%;
    padding-left: 50px;
    color: var(--black);
    padding: 50px 0;
}

.container-content h1 span {
    color: var(--secondary-color);
}

.container-content p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 35px;
    width: 80%;
    margin: 35px 0 50px 0;
}

.container-content .first-p{
    font-size: 3.0rem;
}

.container-img {
    width: 43%;
    position: relative;
    right: -79px;
}

.img-content {
    position: relative;
}

.container-img .img-hero {
    max-width: 551px;
    max-height: 551px;
    border-radius: 100%;
    position: relative;
    right: -112px;
    top: 0;
}

#conv1,
#conv2,
#conv3 {
    opacity: 0;
    transition: all .3s;
    transform: translateY(20px);
}


#conv1.animate-box,
#conv2.animate-box,
#conv3.animate-box {
    opacity: 1;
    transform: translateY(0);
}

.conversation-1 {
    position: absolute;
    width: 340px;
    background-color: #ffe6ca;
    top: 111px;
    left: -69px;
    border-radius: 8px;
    font-size: 2.2rem;
    font-weight: 400;
    color: #000;
    padding: 30px;
    padding-bottom: 10px;
    box-shadow: -20px 6px 20px rgba(0, 0, 0, 0.13);
}

.conversation-1::after {
    content: '';
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffe6ca;
    border-bottom: 15px solid #ffe6ca;
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    left: 95%;
}

.conversation-1 .check {
    display: flex;
    justify-content: flex-end;
    height: 21px;
    font-size: 1.4rem;
    padding-bottom: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    color: #c1cfbc;
}

.conversation-1 .check img,
.conversation-2 .check img {
    width: 15px;
    height: 15px;
}

.conversation-2 {
    position: absolute;
    width: 306px;
    background-color: #fff;
    top: 310px;
    left: -37px;
    border-radius: 8px;
    font-size: 2.2rem;
    font-weight: 400;
    color: #000;
    padding: 29px;
    padding-bottom: 10px;
    box-shadow: -20px 6px 20px rgba(0, 0, 0, 0.13);
}

.conversation-2 p {
    margin-bottom: -11px;
}

.conversation-2::after {
    content: '';
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid white;
    border-bottom: 15px solid white;
    position: absolute;
    transform: rotate(180deg);
    top: 0;
    left: -5%;
}

.conversation-2 .check {
    display: flex;
    justify-content: flex-end;
    height: 21px;
    font-size: 1.4rem;
    padding-bottom: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    color: #c1cfbc;
}

.typing {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 87px;
    height: 40px;
    background-color: #cbcbcb;
    border-radius: 8px;
    top: 452px;
    left: -74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing::after {
    content: '';
    border-right: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 13px solid #cbcbcb;
    border-bottom: 13px solid #cbcbcb;
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    left: 74px;
}

.typing .dot {
    display: inline-block;
    width: 13.8px;
    height: 13.8px;
    border-radius: 50%;
    margin: 0 4.5px;
    animation: wave 1.3s linear infinite;
    position: relative;
    background-color: #cbcbcb;
    border: 4px solid white;
}

.typing .dot:nth-child(2) {
    animation-delay: -1.1s;
}

.typing .dot:nth-child(3) {
    animation-delay: -0.9s;
}

@keyframes wave {

    0%,
    60%,
    100% {
        transform: translateY(1px);
    }

    30% {
        transform: translateY(-8px);
    }
}

.main-container input {
    width: 600px;
    height: 100px;

}

#input-container {
    position: relative;
    width: 90%;
}

#input {
    width: 100%;
    height: 70px;
    font-size: 1.6rem;
    margin-top: 40px;
    padding-left: 40px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
    z-index: 1;
    border-color: rgba(71, 90, 105, 0.5);
}

#input::placeholder {
    color: rgba(71, 90, 105, 0.5);
}

.hero .input-group .btn {
    width: 40%;
    position: absolute;
    top: 48px;
    right: 8px;
    bottom: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px 5px 5px 5px;
}

.hero .input-group .btn:hover {
    background-color: var(--secondary-light-color);
}

.hero #button-addon2 {
    border-radius: 5px;
}

.btn-1:hover {
    background-color: var(--secondary-light-color);
    color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
}

.brands-section {
    background-color: white;
    width: 100%;
    margin-top: 50px;
}

.brands-section p {
    font-size: 1.8rem;
}

.brands-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands-container img {
    width: 105px;
}


.wpp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.wpp-content {
    position: relative;
    background: white;
    border-radius: 40px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wpp .text p {
    margin: 0;
    padding-right: 15px;
    transition: all .3s;
    width: 0;
    padding: 0;
    opacity: 0;
    color: #B7B1B1;
    white-space: nowrap;
    font-size: 0;
}

.wpp a {
    text-decoration: none;
}

.wpp i {
    display: flex;
    width: 53px;
    height: 53px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #1DAA61;
    font-size: 4.2rem;
    cursor: pointer;
    position: relative;
    margin: 4px;
    color: white;
}

.wpp-content:hover .text p {
    width: 100%;
    padding: 13px 38px;
    opacity: 1;
    font-size: 1.8rem;
}

/* section-2 */
.cards-container {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 90px 50px;
    background-color: var(--primary-color);
    gap: 70px;
    z-index: 1;
}

.content-card {
    position: relative;
    width: 33%;
    max-width: 310px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 255px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px;
    position: relative;
}

.cont {
    display: flex;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}

.cards::after {
    content: '';
    border-right: 35px solid transparent;
    border-top: 35px solid transparent;
    border-left: 35px solid white;
    border-bottom: 35px solid white;
    position: absolute;
    transform: rotate(90deg);
    top: 0px;
    right: -20px;
    z-index: -1;
}

.border-card-1,
.border-card-2,
.border-card-3 {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 0 0 0 15px;
    background-color: red;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    transition: all .3s;
}

.border-card-1 {
    background-color: #5584EB;
}

.border-card-2 {
    background-color: #FF649E;
}

.border-card-3 {
    background-color: #FFBB00;
}

.cards h2 {
    color: var(--secondary-color);
    font-size: 5.0rem;
    font-weight: 700;
    line-height: 70px;
}

.cards h4 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    line-height: 37px;
}

.cards p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 22px;
}

.cards img {
    position: absolute;
    right: 20px;
    bottom: 20px;
}


/* section-3 */

.container-dates {
    width: 100%;
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    gap: 50px;
}

.container-dates .data-contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-dates .dates {
    display: flex;
    justify-content: center;
}

.dates {
    gap: 12px;
    flex-wrap: wrap;
}

.date-contain {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 520px;
}

.container-dates h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #000;
}

.container-dates p {
    font-size: 1.5rem;
}

.container-dates .card i {
    font-size: 4rem;
    color: var(--secondary-color);
    margin-right: 20px;
}

.container-dates h2 span {
    color: var(--secondary-color);
    font-weight: bold;
}

.container-dates img {
    width: 250px;
    height: 370px;
    object-fit: cover;
}

.container-dates .card {
    box-shadow: 0 0 4px 2px #c2c2c2;
    border:none
}

.container-dates .card-body{
    padding: 15px;
    display: flex;
    align-items: center;
}

.card-body.date{
    display: flex;
    flex-direction: column;
}

/* section 4 */

.container-tabs {
    width: 100%;
    height: 900px;
    background-color: white;
    padding: 80px 100px;
    overflow: hidden;
}

#pills-tabContent {
    width: 100%;
    display: flex;
}

#pills-home,
#pills-profile,
#pills-contact {
    position: relative;
    width: 100%;
}

#pills-home img {
    position: absolute;
    top: 0;
    right: -100px;
}

#pills-profile img {
    position: absolute;
    top: 0;
    right: -100px;
    height: auto;
}

#pills-contact img {
    position: absolute;
    top: 0;
    right: -100px;
}


.pills-container {
    width: calc(50% + 100px);
    padding: 50px 60px 0 0;
}

.pills-container h2 {
    font-weight: 500;
    font-size: 4.0rem;
    margin-bottom: 30px;
}

.pills-container h3 {
    font-size: 2rem;
    font-weight: bold;
}

.pills-container h3 span {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary-color);
}


.pills-container p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.pills-container a {
    padding: 10px 30px;
    font-size: 1.8rem;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
    border-radius: 8px;
    max-width: 330px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pills-container a:hover {
    background-color: var(--secondary-light-color);
}

.container-tabs img {
    width: 50%;
}

.container-tabs li.nav-item {
    margin: 100px 50px 50px 0;
}

.container-tabs .step {
    margin-bottom: 30px;
}

.container-tabs .step li{
    font-size: 1.8rem;
    list-style: disc;
}
.container-tabs .step li::marker{
    color: var(--secondary-color);
}

.nav-pills .nav-link {
    padding: 21px 30px;
    width: 168px;
    border-radius: 50px;
    font-size: 2.0rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.nav-pills .nav-link.active {
    background-color: var(--primary-color);
    color: white;
}

/* section-5 */

.comments {
    width: 100%;
    padding: 80px;
    padding-bottom: 130px;
    background-color: #f3f3f3;
    color: #000;
    position: relative;
    overflow: hidden;
}

.comments::after {
    content: '';
    height: 500px;
    width: 500px;
    bottom: -251px;
    right: -229px;
    position: absolute;
    border-radius: 100%;
    background-color: #f3f3f3;
    border: 120px solid white;
}

#carouselExampleIndicators {
    z-index: 1;
}

.comments h3 {
    font-size: 3.0rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 30px;
    text-transform: uppercase;
    z-index: 2;
}

.comments img {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.comments .text {
    margin-top: 20px;
    width: 70%;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: 60px;
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.linkedin p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.linkedin i {
    font-size: 32px;
    color: #0077b5;
    text-align: center;
}

.linkedin p span {
    color: #0077b5;
    font-weight: bold;
}

.carousel-indicators {
    display: flex;
    justify-content: flex-start;
    bottom: -65px;
    left: -4px;
    margin: 0;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: var(--secondary-color);
    border-radius: 100%;
}

/* footer */

footer {
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 30px;
}

.container-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px 50px 50px;
}

.container-foot ul:nth-child(3) {
    width: 32%;
}

footer .logo {
    padding-left: 50px;
    width: 230px;
}

.lenguage {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 100px 0 20px 0;
}

.lenguages {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.lenguages a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    width: 85px;
    height: 38px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.lenguages a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.spn {
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
}

.social {
    display: flex;
    width: 160px;
    height: 40px;
    margin-top: 10px;
    gap: 28px;
}

.social a {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.social i {
    transition: all .3s;
}

.social .fab {
    width: 40px;
    height: 40px;
    font-size: 2.0rem;
    border-radius: 100%;
    line-height: 2;
}

.social .facebook {
    color: var(--primary-color);
    background-color: #9c9cae;
}

.social .facebook:hover {
    background-color: #0571e6;
    color: white;
}

.social .twitter {
    color: var(--primary-color);
    background-color: #9c9cae;
}

.social .twitter:hover {
    background-color: black;
    color: white;
}

.social .linkedinn {
    color: var(--primary-color);
    background-color: #9c9cae;
}

.social .linkedinn:hover {
    background-color: #0077b0;
    color: white;
}

.social .youtube {
    color: var(--primary-color);
    background-color: #9c9cae;
}

.social .youtube:hover {
    background-color: #af2429;
    color: white;
}

.ul-container {
    display: flex;
    justify-content: center;
    width: 75%;
    padding-left: 50px;
    gap: 50px;
}

.container-foot ul {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
}

.container-foot ul li,
.container-foot ul span {
    margin: 10px 0 20px 0;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
    list-style: none;
    color: white;
}

.container-foot a {
    text-decoration: none;
    color: #B4C0CA;
    transition: all .3s;
}

.container-foot ul a:hover {
    color: var(--secondary-light-color);
}

.input-foot {
    width: 100%;
    display: flex;
    gap: 170px;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
    padding: 40px 0;
}

.input-foot p {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding-left: 50px;
}

#input-3-container {
    width: 590px;
    position: relative;
}

#input-3 {
    font-size: 1.4rem;
    padding-left: 50px;
    background-color: black;
    letter-spacing: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
    height: 50px;
    outline: none;
    border-radius: 5px;
    color: white;
    border-color: #475A69;
}

#input-3::placeholder {
    color: white;
}

.input-foot .btn {
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0 5px 5px 0;
}

.input-foot .btn:hover {
    background-color: var(--secondary-light-color);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
}

.terms {
    width: 100%;
    display: flex;
    padding: 20px 50px;
    gap: 150px;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}

.terms span {
    width: 25%;
}

.conditions {
    display: flex;
    gap: 50px;
}

.conditions a {
    text-decoration: none;
    color: white;
}

.conditions a:hover {
    color: var(--secondary-light-color);
}